.container {
  position: relative;
  height: 20px;
  width: 100%;

  .bar {
    width: 100%;
    height: 20px;
    background-color: #b3cde0;
    border-radius: 3px;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background-color: #005b96;
    border-radius: 3px;
  }
}
